<section id="couple">
  <div class="book-page">
    <div class="container">
      <h1 class="fw-light text-center mt-4 mb-0">
        <div class="stylized-header">
          <div class="butterfly">
            <div class="butterflybeat">🦋</div>
            <div class="butterflybeatecho">🦋</div>
          </div>
          {{ localization?.title }}
          <div class="butterfly">
            <div class="butterflybeat">🦋</div>
            <div class="butterflybeatecho">🦋</div>
          </div>
        </div>
      </h1>
      <hr class="mt-2 mb-5">
      <div class="row">
        <div class="col-md-6">
          <img src="assets/images/couple/bride_groom_3.jpg" alt="Julius" class="couple-image">
          <h3>{{ localization?.julius }}</h3>
          <p>{{ localization?.juliusDescription }}</p>
        </div>
        <div class="col-md-6">
          <img src="assets/images/couple/bride_2.jpg" alt="Diana" class="couple-image">
          <h3>{{ localization?.diana }}</h3>
          <p>{{ localization?.dianaDescription }}</p>
        </div>
      </div>
    </div>
  </div>
</section>



