<section id="contact">
  <div class="book-page">
    <div class="container">
      <h1 class="fw-light text-center mt-4 mb-0">
        <div class="stylized-header">
          <div class="butterfly">
            <div class="butterflybeat">🦋</div>
            <div class="butterflybeatecho">🦋</div>
          </div>
          {{ localization?.title }}
          <div class="butterfly">
            <div class="butterflybeat">🦋</div>
            <div class="butterflybeatecho">🦋</div>
          </div>
        </div>
      </h1>
      <hr class="mt-2 mb-5">
      <div class="container">
        <div class="row">
          <!-- First Column -->
          <div class="col contact-column bg-light p-3 shadow mb-4">
            <!-- First Row -->
            <div class="row">
              <img src="./assets/images/contact/contact_julius.jpeg" class="img-fluid" alt="Julius">
              <h2>{{ localization?.julius }}</h2>
            </div>
            <!-- Second Row -->
            <div class="row">
              <div class="col">
                <p><i class="fa fa-phone"></i> {{ localization?.phone }} +37060665093</p>
                <p><i class="fa fa-envelope"></i> {{ localization?.email }} julius.cerniauskas.mif&#64;gmail.com</p>
                <p><i class="fa fa-facebook"></i><a
                  href="https://www.facebook.com/Hoperis/"> {{ localization?.facebook }} </a></p>
                <p><i class="fa fa-instagram"></i><a
                  href="https://www.instagram.com/jcerniauskas88/"> {{ localization?.instagram }} </a>
                </p>
              </div>
            </div>
          </div>
          <!-- First Column -->
          <div class="col contact-column bg-light p-3 shadow mb-4">
            <!-- First Row -->
            <div class="row">
              <img src="./assets/images/contact/contact_diana.jpeg" class="img-fluid" alt="Diana">
              <h2>{{ localization?.diana }}</h2>
            </div>
            <!-- Second Row -->
            <div class="row">
              <div class="col">
                <p><i class="fa fa-phone"></i> {{ localization?.phone }} +37061445214</p>
                <p><i class="fa fa-envelope"></i> {{ localization?.email }} diana.milinskaite&#64;gmail.com</p>
                <p><i class="fa fa-facebook"></i><a
                  href="https://www.facebook.com/mazoji.diana/"> {{ localization?.facebook }} </a></p>
                <p><i class="fa fa-instagram"></i><a
                  href="https://www.instagram.com/mazoji.diana/"> {{ localization?.instagram }} </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
