img {
  max-width: 260px;
  max-height: 400px;
}

.contact-column {
  border-radius: 10px;
}

@media (min-width: 992px) {
  .contact-column {
    margin: 20px;
  }
}

@media screen and (max-width: 430px) {
  .contact-column {
    margin: 0;
  }
  .img {
    max-width: 160px;
    max-height: 200px;
  }
}
