<section id="gallery">
  <div class="book-page">
    <div class="container">
      <h1 class="fw-light text-center mt-4 mb-0">
        <div class="stylized-header">
          <div class="butterfly">
            <div class="butterflybeat">🦋</div>
            <div class="butterflybeatecho">🦋</div>
          </div>
          {{ localization?.title }}
          <div class="butterfly">
            <div class="butterflybeat">🦋</div>
            <div class="butterflybeatecho">🦋</div>
          </div>
        </div>
      </h1>
      <hr class="mt-2 mb-5">
      <div class="row text-center text-lg-start">
        <div class="col-lg-3 col-md-4 col-6">
          <a class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="./assets/images/gallery/gallery1.jpg" alt="Galerija 1">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="./assets/images/gallery/gallery2.jpg" alt="Galerija 2">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="./assets/images/gallery/gallery3.jpg" alt="Galerija 3">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="./assets/images/gallery/gallery4.jpg" alt="Galerija 4">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="./assets/images/gallery/gallery5.jpg" alt="Galerija 5">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="./assets/images/gallery/gallery6.jpg" alt="Galerija 6">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="./assets/images/gallery/gallery7.jpg" alt="Galerija 7">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="./assets/images/gallery/gallery8.jpg" alt="Galerija 8">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="./assets/images/gallery/gallery9.jpg" alt="Galerija 9">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="./assets/images/gallery/gallery10.jpg" alt="Galerija 10">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="./assets/images/gallery/gallery11.jpg" alt="Galerija 11">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="./assets/images/gallery/gallery12.jpg" alt="Galerija 12">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
