<section id="event">
  <div class="book-page">
    <div class="container">
      <h1 class="fw-light text-center mt-4 mb-0">
        <div class="stylized-header">
          <div class="butterfly">
            <div class="butterflybeat">🦋</div>
            <div class="butterflybeatecho">🦋</div>
          </div>
          {{ localization?.title }}
          <div class="butterfly">
            <div class="butterflybeat">🦋</div>
            <div class="butterflybeatecho">🦋</div>
          </div>
        </div>
      </h1>
      <hr class="mt-2 mb-5">
      <div class="row">
        <div class="col-xl-4 col-md-6">
          <div class="col-xl-11 p-0">
            <img class="img-fluid" src="assets/images/event/fake_santuokos_rumai.jpg">
            <div>
              <h1>{{ localization?.weddingCeremonyTitle }}</h1>
              <p>{{ localization?.weddingCeremonyP1 }}</p>
              <p>{{ localization?.weddingCeremonyP2 }}</p>
              <ul>
                <li>{{ localization?.weddingCeremonyLI1 }}</li>
                <li>{{ localization?.weddingCeremonyLI2 }}</li>
                <li>{{ localization?.weddingCeremonyLI3 }}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="col-xl-11 p-0">
            <img class="img-fluid" src="assets/images/event/dvaryksciu_sodyba2_resized.jpg">
            <div>
              <h1>{{ localization?.weddingFeastTitle }}</h1>
              <p>{{ localization?.weddingFeastP1 }}</p>
              <p>{{ localization?.weddingFeastP2 }}</p>
              <ul>
                <li>{{ localization?.weddingFeastLI1 }}</li>
                <li>{{ localization?.weddingFeastLI2 }}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="col-xl-11 p-0">
            <iframe
              class="container-fluid"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d684.6235577260798!2d25.526246991462806!3d54.6457015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46ddbc020827a7f1%3A0x8001477fa8e55f32!2zRHZhcnlrxaHEjWnFsyBzb2R5YmE!5e1!3m2!1sen!2slt!4v1715284068500!5m2!1sen!2slt"
              width="350" height="350" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div>
              <h1>{{ localization?.weddingPlaceTitle }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
