<div id="invitation-card" class="wedding-invitation">
  <div class="header">
    <h1>Julius💝Diana</h1>
  </div>
  <div class="photo">
    <img src="assets/images/invitation-card/love.jpg" alt="Julius and Diana">
  </div>
  <div class="details">
    <div class="event">
      <h2>{{ localization?.getting_married_title }}<span class="heart">❤️</span></h2>
      <p class="date-time">2024.09.14 | 11:10</p>
    </div>
    <div class="event">
      <h2>{{ localization?.wedding_celebration_date_title }}<span class="heart">💖</span></h2>
      <p class="date-time">2024.09.14 | ~16:30</p>
    </div>
    <div class="event">
      <h2>{{ localization?.wedding_celebration_venue_title }}<span class="heart">💒</span></h2>
      <p class="venue">{{ localization?.wedding_celebration_venue_text }}</p>
    </div>
  </div>
</div>
