<section id="home">
  <div class="book-page">
    <div class="container">
      <h1 class="fw-light text-center mt-4 mb-0">
        <div class="stylized-header">
          <div class="butterfly">
            <div class="butterflybeat">🦋</div>
            <div class="butterflybeatecho">🦋</div>
          </div>
          {{ localization?.julius }}💙{{ localization?.diana }}
          <div class="butterfly">
            <div class="butterflybeat">🦋</div>
            <div class="butterflybeatecho">🦋</div>
          </div>
        </div>
      </h1>
      <hr class="mt-2 mb-5">
      <div class="hero-section book-page"></div>
      <app-countdown></app-countdown>
      <!--      <app-invitation-card></app-invitation-card>-->
      <!--      <app-test id="test"></app-test>-->
    </div>
  </div>
</section>
