<section id="story">
  <div class="book-page">
    <div class="container">
      <h1 class="fw-light text-center mt-4 mb-0">
        <div class="stylized-header">
          <div class="butterfly">
            <div class="butterflybeat">🦋</div>
            <div class="butterflybeatecho">🦋</div>
          </div>
          {{ localization?.title }}
          <div class="butterfly">
            <div class="butterflybeat">🦋</div>
            <div class="butterflybeatecho">🦋</div>
          </div>
        </div>
      </h1>
      <hr class="mt-2 mb-5">
      <div class="row text-center text-lg-start">
        <div class="col-md-4">
          <img class="img-fluid img-thumbnail" src="assets/images/story/start_2.jpg" alt="Zinute 1">
        </div>
        <div class="col-md-4">
          <img class="img-fluid img-thumbnail" src="assets/images/story/start_1.jpg" alt="Zinute 2">
        </div>
        <div class="col-md-4">
          <div class="text-row">
            <h1>{{ localization?.part1Title }}</h1>
            <h5 className="date">{{ localization?.part1Date }}</h5>
            <p>{{ localization?.part1Description }}</p>
          </div>
        </div>
      </div>
      <div class="row text-center text-lg-start">
        <div class="col-md-4">
          <div class="text-row">
            <h1>{{ localization?.part2Title }}</h1>
            <h5 className="date">{{ localization?.part2Date }}</h5>
            <p>{{ localization?.part2Description }}</p>
          </div>
        </div>
        <div class="col-md-4">
          <img class="img-fluid img-thumbnail" src="assets/images/story/meeting_point_1.jpg" alt="Susitikimo vieta 1">
        </div>
        <div class="col-md-4">
          <img class="img-fluid img-thumbnail" src="assets/images/story/meeting_point_2.jpg" alt="Siluetas">
        </div>
      </div>
      <div class="row text-center text-lg-start">
        <div class="col-md-8">
          <div class="row text-center text-lg-start">
            <div class="col-md-6 col-6">
              <img class="img-fluid img-thumbnail" src="assets/images/story/happy_moments_1.jpg"
                   alt="Laimingos akimirkos 1">
            </div>
            <div class="col-md-6  col-6">
              <img class="img-fluid img-thumbnail" src="assets/images/story/happy_moments_2.jpg"
                   alt="Laimingos akimirkos 2">
            </div>
            <div class="col-md-6  col-6">
              <img class="img-fluid img-thumbnail" src="assets/images/story/happy_moments_3.jpg"
                   alt="Laimingos akimirkos 3">
            </div>
            <div class="col-md-6  col-6">
              <img class="img-fluid img-thumbnail" src="assets/images/story/happy_moments_4.jpg"
                   alt="Laimingos akimirkos 4">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="text-row">
            <h1>{{ localization?.part3Title }}</h1>
            <h5 className="date">{{ localization?.part3Date }}</h5>
            <p>{{ localization?.part3Description }}</p>
          </div>
        </div>
      </div>
      <div class="row text-center text-lg-start">
        <div class="col-md-4">
          <div class="text-row">
            <h1>{{ localization?.part4Title }}</h1>
            <h5 className="date">{{ localization?.part4Date }}</h5>
            <p>{{ localization?.part4Description }}</p>
          </div>
        </div>
        <div class="col-md-4">
          <img class="img-fluid img-thumbnail" src="assets/images/story/engaged_2.jpg" alt="">
        </div>
        <div class="col-md-4">
          <img class="img-fluid img-thumbnail" src="assets/images/story/engaged_1.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
