<section id="family">
  <div class="book-page">
    <div class="container">
      <h1 class="fw-light text-center mt-4 mb-0">
        <div class="stylized-header">
          <div class="butterfly">
            <div class="butterflybeat">🦋</div>
            <div class="butterflybeatecho">🦋</div>
          </div>
          {{ localization?.title }}
          <div class="butterfly">
            <div class="butterflybeat">🦋</div>
            <div class="butterflybeatecho">🦋</div>
          </div>
        </div>
      </h1>
      <hr class="mt-2 mb-5">
      <div class="row text-center text-lg-start">
        <h1 class="fw-light text-center text-lg-start mt-4 mb-0"><h1 class="stylized-header">
          🦋{{ localization?.juliusFamily }}🦋</h1></h1>
        <div class="col-lg-3 col-md-4 col-6">
          <img class="img-fluid img-thumbnail" src="assets/images/family/tetis.jpg" alt="Juliaus tėtis">
          <div>
            <h3>{{ localization?.juliusFather }}</h3>
            <p>{{ localization?.father }}</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <img class="img-fluid img-thumbnail" src="assets/images/family/juliaus_mama.jpg" alt="Juliaus mama">
          <div>
            <h3>{{ localization?.juliusMother }}</h3>
            <p>{{ localization?.mother }}</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <img class="img-fluid img-thumbnail" src="assets/images/family/sesuo.jpg" alt="Juliaus sesuo">
          <div>
            <h3>{{ localization?.juliusSister }}</h3>
            <p>{{ localization?.sister }}</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <img class="img-fluid img-thumbnail" src="assets/images/family/julius_seima.jpg" alt="">
        </div>
      </div>
      <div class="row text-center text-lg-start">
        <h1 class="fw-light text-center text-lg-start mt-4 mb-0">
          <h1 class="stylized-header">🦋{{ localization?.dianaFamily }}🦋</h1>
        </h1>
        <div class="col-lg-3 col-md-4 col-6">
          <img class="img-fluid img-thumbnail" src="assets/images/family/dianos_tetis.jpg" alt="Dianos tėtis">
          <div>
            <h3>{{ localization?.dianaFather }}</h3>
            <p>{{ localization?.father }}</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <img class="img-fluid img-thumbnail" src="assets/images/family/dianos_mama.jpg" alt="Dianos mama">
          <div>
            <h3>{{ localization?.dianaMother }}</h3>
            <p>{{ localization?.mother }}</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <img class="img-fluid img-thumbnail" src="assets/images/family/dianos_seima_2.jpg" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <img class="img-fluid img-thumbnail" src="assets/images/family/dianos_seima.jpg" alt="Dianos seima">
        </div>
      </div>
    </div>
  </div>
</section>
